<footer class="mt-4 text-center text-muted">
  <p>TranslatePress激活工具 &copy; <%= new Date().getFullYear() %> <a href="https://www.210k.cc" target="_blank">210 工作室</a></p>
  <p><small>工具会采取防反爬虫措施，包括随机延迟、模拟人类行为等，但是也不能保证100%成功。</small></p>
</footer> 